.service{
    background-color: rgb(255, 255, 255) ;}
.serviceBox{
    color: #555;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 15px 0 0;
}
.serviceBox .service-icon{
    color: #fff;
    background: #0B7274;
    font-size: 45px;
    line-height: 103px;
    width: 100px;
    height: 100px;
    margin: 0 auto 65px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
} 
.serviceBox .service-icon:before,
.serviceBox .service-icon:after{
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border: 5px solid #0B7274;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.serviceBox .service-icon:after{
    background-color: #0B7274;
    height: 40px;
    width: 35px;
    border-radius: 0;
    border: none;
    transform: translateX(-50%) translateY(0) rotate(0);
    top: calc(100% + 10px);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.serviceBox .title{
    color: #0B7274;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.serviceBox .description{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}
.serviceBox.pink .service-icon,
.serviceBox.pink .service-icon:after{
    background-color: #E4667B;
}
.serviceBox.pink .service-icon:before{
    border-color: #E4667B;
    border-left-color: transparent;
    border-top-color: transparent;
}
.serviceBox.pink .title{ color: #E4667B; }
.serviceBox.purple .service-icon,
.serviceBox.purple .service-icon:after{
    background-color: #583DA6;
}
.serviceBox.purple .service-icon:before{
    border-color: #583DA6;
    border-left-color: transparent;
    border-top-color: transparent;
}
.serviceBox.purple .title{ color: #583DA6; }
.serviceBox.green .service-icon,
.serviceBox.green .service-icon:after{
    background-color: #0EBAB3;
}
.serviceBox.green .service-icon:before{
    border-color: #0EBAB3;
    border-left-color: transparent;
    border-top-color: transparent;
}
.serviceBox.green .title{ color: #0EBAB3; }
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 40px; }
}

.description {
    margin: 1px 90px;
    }